ion-content {
    --background: linear-gradient(135deg, #1a1a1a, #303030);
  }
  
.profile-container {
    text-align: center;
    color: white;
  }
  
ion-item {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin-bottom: 10px;
  }
  