<ion-header class="ion-no-border">
  <ion-toolbar class="header-toolbar">
    <ion-title>
      <span class="app-title">🎵 Listas de Reproducciónes de {{ user?.username }}</span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openNewPlaylistPrompt()">Crear</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let playlist of playlists" (click)="openPlaylist(playlist)">
      <ion-label>
        <h2>{{ playlist.name }}</h2>
      </ion-label>
      <ion-button fill="clear" slot="end" color="danger" (click)="deletePlaylist(playlist.id)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
